<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J.A.R.T. - Just Another Report Translator</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  
  <body>
    {%include "navigation.html" ignore missing %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
      </div>
              <h1 class="h2">Dictionary operations</h1>


            <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Target language</th>
      <th scope="col">Original</th>
      <th scope="col">Translation</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    {% for d in dictionary%}
    <tr>
      <td>{{ d.lang_name }}</td>
      <td>{{ d.original }}</td>
      <td>{{ d.translation }}</td>
      <td><form method = "post" action="/post_config?drop=0&re_index=0&dict_reset=0&dictitem_delete={{ d.item_id }}">
        <button type="button submit" name="submit" class="btn btn-outline-danger btn-sm">X</button></td>
    </tr>
    {% endfor %}
  </tbody>

</table>

               <form method = "post" action="/post_config?drop=0&re_index=0&dict_reset=1&dictitem_delete=0">
<button type="button submit" name="submit" class="btn btn-outline-warning">Reset Dictionary</button>
</form>
        <h1 class="h2">Report global operations</h1>
        <form method = "post" action="/post_config?drop=1&re_index=0&dict_reset=0dictitem_delete=0">
<button type="button submit" name="submit" class="btn btn-outline-danger">Delete reports</button>
</form>
</br>
        <form method = "post" action="/post_config?drop=0&re_index=1&dict_reset=0dictitem_delete=0">
<button type="button submit" name="submit" class="btn btn-outline-success">Re import reports</button>
</form>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>