<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J.A.R.T. - Just Another Report Translator</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  
  <body>
    {%include "navigation.html" ignore missing %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">J.A.R.T Welcomes you!</h1>
          <p class="lead">Here are the languages I know:</p>
          {% for langname in languages%}
          <a class="btn btn-outline-primary btn-lg" href="/language/{{ langname.code }}" role="button">{{ langname.name }}</a>
          {% endfor %}          
        </div>
      </div>
    </div>
<div class="fixed-bottom">Translator</div>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>