<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>J.A.R.T. - Just Another Report Translator</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">J.A.R.T. Home {{ language }}</a>
      <ul class="navbar-nav px-3">
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              
              {% for r in reports%}
              <li class="nav-item">
                <a class="nav-link" href="/language/{{ language }}/{{ r.id }}">
                  <span data-feather="file-text"></span>
                  {{ r.name }}
                </a>
              </li>
              {% endfor %}

            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h1 class="h2">Local report name  <span class="badge badge-pill badge-danger">1</span></h1>
            <form method = "post" action="/post_report?lang_id={{ language_id }}&report_id={{ id }}&language={{ language }}">
              <div class="form-group">
              <label for="rep_input_name">Local report name for <b>{% for r in report_name%} {{ r.base_name }} {% endfor %}</b> </label>
              <input type="text" name="rep_input_name" class="form-control" id="rep_input_name" placeholder="{% for r in report_name%} {{ r.translated_name }} {% endfor %}" value="{% for r in report_name%}{{ r.translated_name }}{% endfor %}">
              <small id="rep_input_name_Help" class="form-text text-muted">Please fill in correctly</small>
              </div>

<h1 class="h2">Parameters translation</h1>
              <div class="form-row">
                {% for r in params_list%}
                <div class="form-group col-md-6">
                  <label>{{ r.base_name }}</label>
                <input type="text" name="param_input_name{{ r.param_id }}" class="form-control" id="param_input_name" placeholder="{{ r.translated_name }}" value="{{ r.translated_name }}">
                </div>
                {% endfor %}    
              </div>

<h2>Default template</h2>
<p class="h6">Current: {% for r in default_templ%}{{ r.default_template }}{% endfor %}</p>
            {% for r in templ_list%}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="options" id="option" value="{{ r.template_name }}">
              <label class="form-check-label" for="radio">
                {{ r.template_name }}
              </label>
            </div>
            {% endfor %}

<br>
              <button type="button submit" class="btn btn-outline-success">Save</button>
            </form>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="../../static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


  </body>
</html>
